name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
#     - name: Build and push Docker images
#       uses: docker/build-push-action@v1.1.0
#       with:
#         username: ${{ secrets.DOCKER_USERNAME }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
#         repository: theone74/docker-compose-dind
#         tags: latest
#         tag_with_sha: true
        
    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: ghcr.io/theone74/docker-compose-dind
        tag-sha: true
   
   
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
        
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker images
      # You may pin to the exact commit or the version.
      # https://github.com/marketplace/actions/build-and-push-docker-images
      # uses: docker/build-push-action@4a531fa5a603bab87dfa56578bd82b28508c9547
      uses: docker/build-push-action@v6
      with:
        # List of build-time variables
#         build-args: # optional
        # List of metadata for an image
        labels: ${{ steps.docker_meta.outputs.labels }}
        # List of tags
        tags: ${{ steps.docker_meta.outputs.tags }}
        # Always attempt to pull a newer version of the image
        pull: true
        # Sets the target stage to build
#         target: # optional
        # List of extra privileged entitlement (eg. network.host,security.insecure)
#         allow: # optional
        # Do not use cache when building the image
#         no-cache: # optional, default is false
        # List of target platforms for build
#         platforms: # optional
        # Load is a shorthand for --output=type=docker
#         load: # optional, default is false
        # Push is a shorthand for --output=type=registry
        push: ${{ github.event_name != 'pull_request' }}
        # List of output destinations (format: type=local,dest=path)
#         outputs: # optional
        # List of external cache sources for buildx (eg. user/app:cache, type=local,src=path/to/dir)
#         cache-from: # optional
        # List of cache export destinations for buildx (eg. user/app:cache, type=local,dest=path/to/dir)
#         cache-to: # optional
        # List of secrets to expose to the build (eg. key=value, GIT_AUTH_TOKEN=mytoken)
#         secrets: # optional
        # GitHub Token used to authenticate against a repository for Git context
#         github-token: ${{ secrets.GHCR_TOKEN }}
        # List of SSH agent socket or keys to expose to the build
#         ssh: # optional
